<div id="<%= dom_id calendar %>">
  <p>
    <strong>Date:</strong>
    <%= calendar.date %>
  </p>

  <p>
    <strong>Meetingtime:</strong>
    <%= calendar.meetingTime %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= calendar.location %>
  </p>

</div>
